@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900");

html,
body {
  font-family: -apple-system, "Poppins", Inter, sans-serif;
  font-style: normal;

  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
