.head_container {
  position: relative;
  width: 100%;
  height: 1012px;
  /* height: auto; */
  max-height: 1012px;
}

.head_container a {
  text-decoration: none;
}

.head_container .btn_down {
  position: absolute;
  width: 193px;
  height: 50px;
  right: 2.8125rem;
  top: 2.6875rem;
  background: #1db489;
  border-radius: 46px;
  border: none;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.head_container .img_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.head_container .head_title {
  position: absolute;
  font-family: Poppins;
  font-style: normal;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 149px;
  left: 0;
  width: 100%;
}

.head_container .head_title h1 {
  font-weight: 600;
  font-size: 46px;
  line-height: 69px;
  margin: 0;
}

.head_container .head_title p {
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  margin: 0;
}

.head_container .head_title .get_btn {
  max-width: 403px;
  max-height: 56px;
  margin-top: 48px;
}

.head_container .head_title .get_btn button {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border: none;
  background: #1db489;
  width: auto;
  padding: 17px 85px;
  border-radius: 45px;
}

@media (max-width: 800px) {
  /*如果媒体满足0到800 之间,那么会应用这里面的样式*/
  .head_container .head_title .get_btn button {
    padding: 17px 55px;
  }
}

.why_us {
  width: 100%;
  margin-top: -256px;
  position: relative;
  /* margin-bottom: 120px; */
  padding-bottom: 150px;
  background: #fff;
  border-radius: 70px 0 70px 0;
}

/* .why_us .bg_1 {
  width: 100%;
  height: auto;
  position: absolute;
  background: chartreuse;
} */

.why_us .mobile-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 862px;
  height: auto;
}

.why_us .mobile-bg img {
  width: 100%;
  height: auto;
  margin-top: -43%;
  max-width: 862px;
}

.why_us .title {
  font-weight: 600;
  font-size: 2.875rem;
  line-height: 4.3125rem;
  color: #000;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 57px;
  position: relative;
}

.why_us .card-content {
  display: flex;
  width: 100%;
}

.why_us .card-content img {
  width: 100%;
  max-width: 565px;
  height: auto;
}

.why_us .card-content .left,
.why_us .card-content .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  /*如果媒体满足0到800 之间,那么会应用这里面的样式*/
  .why_us .card-content {
    flex-direction: column;
  }
}

.why_us .card-content .left p,
.why_us .card-content .right p {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 565px;
  font-family: Poppins;
  font-style: normal;
  margin: 0;
  margin-top: 36px;
}

.why_us .card-content .left p span:first-of-type,
.why_us .card-content .right p span:first-of-type {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.8125rem;
  color: #000000;
}

.why_us .card-content .left p span:last-of-type,
.why_us .card-content .right p span:last-of-type {
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  color: #61646b;
}

.hero {
  width: 100%;
  position: relative;
  /* margin-top: -169px; */
  z-index: -1;
  max-height: 743px;
}

.hero img {
  width: 100%;
  height: auto;
  margin-top: -11%;
}

.set-shop {
  width: 100%;
  margin-top: 110px;
}

.set-shop .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 69px;
  text-align: center;
  width: 100%;
}

.set-shop ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 77px;
  /* padding: 77px 95px 33px 119px; */
}

.set-shop ul li {
  display: flex;
  margin-bottom: 72px;
  min-height: 320px;
}

.set-shop ul li .img-box {
  max-width: 20rem;
  max-height: 20rem;
}

.set-shop ul li .img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 奇数 li */
.set-shop ul li:nth-child(odd) {
  flex-direction: row;
}
.set-shop ul li:nth-child(odd) .img-box {
  margin-right: 87px;
}

/* 偶数 li */
.set-shop ul li:nth-child(even) {
  flex-direction: row-reverse;
}
.set-shop ul li:nth-child(even) .img-box {
  margin-left: 87px;
}

.set-shop ul li:nth-child(odd) .step,
.set-shop ul li:nth-child(even) .step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.set-shop ul li:nth-child(odd) .step span:first-of-type,
.set-shop ul li:nth-child(even) .step span:first-of-type {
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  color: #1db489;
  margin-bottom: 16px;
}
.set-shop ul li:nth-child(odd) .step span:last-of-type,
.set-shop ul li:nth-child(even) .step span:last-of-type {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #61646b;
}

@media (max-width: 800px) {
  /*如果媒体满足0到800 之间,那么会应用这里面的样式*/
  .set-shop .step-list li {
    flex-direction: column !important;
  }
  .set-shop .step-list li .img-box {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
}

.send-email {
  width: 100%;
}

.send-email img {
  width: 100%;
  height: auto;
}

.footer_box {
  width: 100%;
  min-height: 317px;
  background-color: #000;
  color: #fff;
  font-family: Poppins;
  font-style: normal;
  position: relative;
  padding-bottom: 29px;
}

.footer_box .top-content {
  width: 90%;
  display: flex;
  margin: auto;
  padding-top: 47px;
}

.footer_box .top-content > div {
  margin-bottom: 19px;
}

.footer_box .top-content div .title {
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
}

.footer_box .top-content div .content {
  margin-top: 28px;
  display: flex;
}

.footer_box .top-content .about .text1,
.footer_box .top-content .about .text2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.footer_box .top-content .about .text1 {
  margin: 20px 0;
}

.footer_box .copyright {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  text-align: center;
  margin-top: 82px;
  flex-wrap: wrap;
}
