@media (max-width: 800px) {
  /*如果媒体满足0到800 之间,那么会应用这里面的样式*/
  .head_container {
    min-height: 277px;
    background-image: url("assets/images/bg2.png");
    background-size: cover;
  }
  .head_container .head_title {
    top: 82px !important;
  }
  .head_container .head_title h1 {
    line-height: 95%;
    font-size: 20px;
  }
  .head_container .head_title p {
    font-size: 12px;
    line-height: 95%;
    margin: 16px 0 26px;
  }
  .head_container .btn-down {
    right: 16px;
    top: 18px;
  }
  .head_container .btn-down button {
    min-width: 121px;
    min-height: 24px;
    font-size: 10px;
  }
  .head_container .head_title .btn-bangun button {
    min-width: 169px;
    min-height: 30px;
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .why_us {
    padding-bottom: 51px;
    border-radius: 2.25rem 0 2.25rem 0;
  }
  .why_us .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #333;
    padding: 2rem 0;
  }
  .why_us .card-content li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .why_us .card-content li img {
    width: 208px;
    height: 132px;
  }
  .why_us .card-content li p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
  }
  .why_us .card-content li p span:first-of-type {
    font-size: 14px;
    line-height: 21px;
    color: #333;
  }
  .why_us .card-content li p span:last-of-type {
    margin-top: 8px;
    font-size: 14px;
    line-height: 120%;
    color: #61646b;
  }
  .why_us .card-content li:not(:nth-last-child(1)) p span:last-of-type {
    margin-bottom: 44px;
  }
}

@media (max-width: 767.98px) {
  .hero .content {
    max-width: 91vw;
  }
}

@media (max-width: 800px) {
  .hero {
    background-color: khaki;
    height: 283px;
    min-height: 283px;
    margin-top: -36px;
  }
  .hero .content .quotation {
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
  }
  .hero .content {
    height: 163px;
    border-radius: 16px;
    bottom: 42px;
  }
  .hero .content .text {
    /* width: 273px; */
    width: 80%;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
  }
  .hero .content .quotation.left {
    top: 14px;
  }
  .hero .content .quotation.right {
    bottom: 0;
  }
}

@media (max-width: 800px) {
  .set-shop {
    margin-top: 32px;
  }
  .set-shop .title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #333333;
  }
  .set-shop ul {
    padding-top: 32px;
  }
  .set-shop ul li {
    margin-bottom: 38px;
  }
  .set-shop .step-list li .img-box {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 20px;
    width: 119px;
    height: 80.51px;
  }
  .set-shop .step-list li .step span:first-of-type,
  .set-shop .step-list li .step span:last-of-type {
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 800px) {
  .send-email-box .left .title {
    font-size: 18px;
    line-height: 130%;
  }

  .send-email-box .left .desc {
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
  }

  .send-email-box .right {
    width: 51.875vw;
    height: 44.3vw;
    border-radius: 30px 30px 0 0;
    padding-top: 25px;
  }

  .send-email-box .right p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 0.9375rem;
  }

  .send-email-box .right p .label {
    font-size: 10px;
    line-height: 0.9375rem;
  }

  .send-email-box .right p input {
    font-size: 10px;
  }

  .send-email-box .right p.from {
    margin-top: 14px;
    margin-bottom: 30px;
  }

  .send-email-box textarea {
    font-weight: 500;
    font-size: 10px;
    line-height: 140%;
    height: 32.28%;
    padding: 8px 10px;
  }

  .send-email-box .right .kirim a {
    width: 170px;
    height: 30px;
    font-size: 10px;
  }
}

@media (max-width: 767.98px) {
  .send-email-box {
    width: 100%;
    height: 632px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .send-email-box .left {
    width: 343px;
    width: 91.46vw;
    position: absolute;
    top: 26px;
  }

  .send-email-box .left p {
    font-family: Poppins;
    font-style: normal;
    text-align: center;
  }

  .send-email-box .right {
    width: 343px;
    width: 91.46vw;
    height: 27.6875rem;
    align-self: center;
    padding: 1.5rem 1.125rem 0;
    margin-left: 0;
    position: absolute;
    bottom: 0;
  }

  .send-email-box .right p input {
    height: 2.625rem;
  }

  .send-email-box textarea {
    height: 176px;
  }
  .send-email-box .right .kirim {
    margin-top: 30px;
  }
  .send-email-box .right .kirim a {
    width: 45vw;
    height: 30px;
  }
}

@media (max-width: 800px) {
  .footer_box {
    padding-bottom: 18px;
    min-height: 354px;
  }
  .footer_box .top-content {
    padding-top: 28px;
  }
  .footer_box .top-content .get-app .content {
    margin-top: 10px;
  }
  .footer_box .top-content > div {
    margin-bottom: 28px;
  }
  .footer_box .top-content div .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  .footer_box .top-content .follow-us .content {
    margin-top: 10px;
  }
  .footer_box .top-content .follow-us .content a > img {
    width: 28px !important;
    height: 28px !important;
  }
  .footer_box .top-content .about .text1 {
    margin-top: 8px;
    margin-bottom: 4px;
  }
  .footer_box .top-content .about .text1,
  .footer_box .top-content .about .text2 {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }
  .footer_box .copyright {
    margin-top: 44px;
  }
}
